.collectionHeading {
  color: #fff;
  font-size: 7.2em;
  margin-right: 100px;
}

.search-filter-sort {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.filter-sort {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.cardsearchoption {
  border: 2px solid #fff;
  padding: 10px;
}

.bi{
    color: #fff;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 50px;
}


