.cardarea{
    /* border: 1px solid white; */
    /* min-height:80vh; */
    width:78vw;
    /* position:relative;
    top:20vh;
    left:30vw; */
    /* background: black; */
    flex-wrap: wrap;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}