.cardarea{
    /* border: 1px solid white; */
    /* min-height:80vh; */
    width:73vw;
    /* position:relative;
    top:20vh;
    left:30vw; */
    /* background: black; */
    flex-wrap: wrap;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
}

@media screen and (max-width: 1024px) {
    .cardarea{
        width:68vw;
        margin-left: 30%;
    }
}