.cardareaa{
    /* border: 1px solid white; */
    /* min-height:80vh; */
    width:90vw;
    /* position:relative;
    top:20vh;
    left:30vw; */
    /* background: black; */
    flex-wrap: wrap;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin: auto;
}
.cardarea{
    /* border: 1px solid white; */
    /* min-height:1000px; */
    
    /* position:relative;
    top:20vh;
    left:30vw; */
    /* background: black; */
    width:90vw;
    margin-left:5vw;
    flex-wrap: wrap;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    /* margin-left: 25%; */
}

@media screen and (max-width: 1024px) {
    .cardarea{
        /* width:68vw; */
        /* margin-left: 30%; */
    }
}

@media screen and (max-width: 768px) {
    .cardarea{
        width:96vw;
        /* margin-left: 2%; */
    }
}