.topFilter {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
}

.inputTop {
    width: 25%;
}

.searchBarCollections, .searchBarCollections:focus {
    color: #fff !important;
}

.leftFilter {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    width: 25%;
    height: auto;
}

.innerFilter {
    width: 80%;
}

.innerFilter div {
    margin: 15px 0;
}

.dropdown-toggle::after {
    color: green;
}

.collapseBtn:focus, .collapseBtn:hover {
    border: none;
}

.bi-chevron-up, .bi-chevron-down {
    transition: all 0.3s ease;
}

.collapseBtn.collapsed .bi-chevron-up {
    transform: rotate(180deg);
}

.collapseBtn.show .bi-chevron-down {
    transform: rotate(180deg);
}

/* .filterBtn {
    border-radius: 20px;
} */

@media screen and (max-width: 1024px) {
    .leftFilter {
        width: 30%
    }
}