@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@700&display=swap");
.WhitePaper{
  padding: 20px 0px;
}
.aboutContainer{
  width: 60%;
  background: #0000006e;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
}
.aboutContainerHead{
  text-align: center;
  padding:  10px;
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
}
.aboutDescText{
  padding: 10px;
  font-weight: 700;
  color: #fff;
}

.aboutDescImgContainer{
  background: #363636b1;
}

.aboutDescContainer{
  display: flex;
  padding: 30px;
  align-items: center;
}

.aboutDescImg{
  box-shadow: -10px 10px 2px #000;
}
@media screen  and (max-width: 900px){
  .aboutDescContainer{
    flex-direction: column;
  }
  .aboutDescContainer {
    padding: 10px;
  }
  .aboutDescImg{
    width: 40vw;
  }
  .aboutContainer{
    width: 80%;
  }
  .aboutContainerHead{
    font-size: 2rem;
  }
}